<div class="form-group">
    <h1>Pokedex</h1>
</div>

<div class="form-group">
    <div class="form-row">
        <div class="col-6">
            <input type="text" class="form-control" #pokemonName placeholder="Search pokemon by name..." />
        </div>
        <div class="col-6">
            <button class="btn btn-primary" (click)="GetPokemon(pokemonName.value)">Search!</button>
        </div>
    </div>
</div>

<div class="form-group">
    <app-pokedex-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokedex-item>
</div>

<div style="margin:20px;">
    <table>
       <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
         <td>{{item.Name}}</td>
  
  
       </tr>
    </table>
    <ngb-pagination [collectionSize]="items.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>

<!-- <table>
    <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      




    </tr>
</table>

<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="pokemons.length">
</ngb-pagination> -->