<div class="form-group">
    <p class="h1 d-inline-block">Pokedex</p> <div class="btn btn-outline-danger d-inline-block ml-4" (click)="SetTypeAndSearch(undefined)" *ngIf="typeSearch">Looking for: {{typeSearch}}</div>
</div>

<div class="form-group">
    <div class="form-row">
        <div class="col-6">
            <input type="text" class="form-control" (keyup.enter)=GetPokemon(pokemonName.value) #pokemonName placeholder="Search pokemon by name..." />
        </div>
        <div class="col-6">
            <button class="btn btn-primary" (click)="GetPokemon(pokemonName.value)">Search!</button>
        </div>
    </div>
</div>

<div class="form-group">
    <app-pokedex-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon" (typeSearch)="SetTypeAndSearch($event)"></app-pokedex-item>
</div>

<div class="form-group">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li>
                <a (click)=ChangePage(1) class="page-link"><<</a>
            </li>
            <li>
                <a (click)=ChangePage(page-1) class="page-link"><</a>
            </li>
            <li *ngFor="let item of pagesarray" [ngClass]="{ active:page === item }" class="page-item number-item">
                <a (click)=ChangePage(item) class="page-link">{{item}}</a>
            </li>
            <li>
                <a (click)=ChangePage(page+1) class="page-link">></a>
            </li>
            <li>
                <a (click)=ChangePage(pages) class="page-link">>></a>
            </li>
        </ul>
      </nav>
</div>