<div class="d-inline-block col-12 col-sm-6 col-md-4 col-lg-3 p-1">
    <div class="card text-center" (mouseenter)="shiny=true" (mouseleave)="shiny=false">
        <div class="card-header">
            <h5>{{pokemon.name}}</h5>
        </div>
        <div class="card-body">

            <ng-container *ngIf="!shiny">
                <div class="d-inline-block">
                    <img class="card-img" src="{{pokemon.sprite.male.default.back}}">
                </div>
                <div class="d-inline-block">
                    <img class="card-img" src="{{pokemon.sprite.male.default.front}}">
                </div>
            </ng-container>

            <ng-container *ngIf="shiny">
                <div class="d-inline-block">
                    <img class="card-img" src="{{pokemon.sprite.male.shiny.back}}">
                </div>
                <div class="d-inline-block">
                    <img class="card-img" src="{{pokemon.sprite.male.shiny.front}}">
                </div>
            </ng-container>

        </div>

    </div>
</div>